<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zhengjin.funsettingsuitest"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RETRIEVE_WINDOW_CONTENT" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".activity.ActivityMain"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityDemo"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActivityRunUiTest"
            android:label="@string/title_activity_inst_test" />
        <activity
            android:name=".activity.ActivityUtilsTest"
            android:label="@string/title_activity_utils_test" />
        <activity
            android:name=".activity.ActivityUtilsTest2"
            android:label="@string/title_activity_utils_test2" />

        <service
            android:name=".service.ServiceUiTestRunner"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.zhengjin.test.intentservice" />
            </intent-filter>
        </service>
    </application>

</manifest>