<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhengjin.funsettingsuitest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityDemo"
            android:label="@string/title_activity_activity_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ActivityRunUiTest"
            android:label="@string/title_activity_activity_run_ui_test"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Service.ServiceUiTestRunner"
            android:exported="false">
            <intent-filter>
                <action android:name="com.zhengjin.test.intentservice" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.ActivityUtilsTest"
            android:label="@string/title_activity_activity_utils_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>